* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

#main_header {
    background-color:#a2f6a2;
    padding:8px;
}

#main_header h1 {
    text-align: center;
    padding: 24px;
}

#main_header #header_desc {
    padding:12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
}

#main_content {
    margin: 10px 0;
}

#counties_map {
    width: 100vw;
    height: 75vh;
}